.contact-container {
  height: 60vh;
  padding: 60px 110px;
  .contact-row {
    .contact-col3 {
      gap: 10px;
      .contact-icon {
        width: 30px;
        height: 30px;
        background: #474747;
        color: white;
        text-align: -webkit-center;
        border-radius: 30px;
        margin-bottom: 20px;
      }

      .contact-icon:hover {
        background-color: #1188bc;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .contact-container {
    padding: 10px 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-container {
    .contact-column {
      width: 30%;
    }
  }
}
